body{
    height: 100%;
    width: 70%;
}

#Div{
    background-color: crimson;
    color:white;
    font-size: 50px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: 5px;
    border-color: firebrick;
    border-style:ridge;
    /* border: 5px dashed red; */
    text-align: center;
    margin-left: 50%;
}