/* relative = este relativ la ceva ; static = pozitie fixa care nu se schimba niciodata ; absolute = o definesti in functie de coordonate;
 fixed = sta in acelasi loc indiferent de unde se uita utilizatorul pe pagina ; sticky = seamana cu fixed dar se "lipeste" de varful paginii */

body{
    height: 2000px;
}

#WelcomeContainer{
    position: relative;
}

#WelcomeDiv{
    background-color: lightblue;
    position: fixed; 
    top: 50px;
    left: 50px;
}

#NameDiv{
    background-color: lightgreen;
    position: absolute;
}