html, body{
    /* height: 1000px;
    width: 1080px; */
    height: 100%;
    width: 100%;
}

#container{
    background-color: rgb(30, 179, 30);
    /*height: 500px;*/
    height: 50%;
    width: 50%;
}

#WelcomeDiv{
    background-color: rgb(206, 243, 255);
    font-style: italic;
    color: rgb(0, 47, 255);
    height: 50%;
    width: 50%;
}