html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    height:auto;
    width:auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/static/fundal3.jpg");
}

#DivContinut{
    min-width: 500px;
    width: auto;
    height: auto;
    margin: 40px auto;
    display: flexbox;
    font-size: larger;
    padding: 40px;
    border-radius: 25px; 
    border-color: #D9D9D9;
    border-width: 5px;
    border-style:outset;
    position: relative;
    text-align: center;
    color:white;
    background-color: rgba(1, 39, 108, 0.8);/*01276c - albastru bun*/
    font-family:"Readex Pro";
    font-style:italic;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

#DivContinut h2{
    color: white;
    position: relative;
    font-size: 40px;
    font-family:"Readex Pro";
    font-style:italic;
    font-weight: bold;
    font-variant: small-caps;
    width: auto;
}

#DivContinut label{
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 20px;
    font-style: italic;
    font-size: 1.1em;
}

#DivContinut input{
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    resize: vertical;
    min-height: 10px;
    font-family: "Readex Pro";
    text-align: center;
}

#DivContinut input:focus, #DivContinut textarea:focus {
    outline: none; 
    border: 3px solid #00aaff; 
    box-shadow: 0 0 5px rgba(0, 170, 255, 0.5); 
    transition: 0.2s ease-in-out;
}

#EmailInput{
    position: relative;
    text-align: center;
    font-family:"Readex Pro";
    font-style:normal;
    font-variant:normal;
}

#ParolaInput, #ConfirmaParolaInput{
    position: relative;
    text-align: center;
    font-family:"Readex Pro";
    font-style:normal;
    font-variant:normal;
}

#togglePassword1, #togglePassword2 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-left: 2%;
    margin-top: 2%;
}

#togglePassword1:hover, #togglePassword2:hover {
    color: #ffcc00;
    transition: all 0.3s ease-in-out;
}

#NumeInput{
    position: relative;
    text-align: center;
    font-family:"Readex Pro";
    font-style:normal;
    font-variant:normal;
}

#ButonInregistrare{
    width: 33%;
    min-width: 150px;
    height: 40px;
    display: flexbox;
    font-size: large;
    border-radius: 20px; 
    border-color: #D9D9D9;
    border-width: 5px;
    border-style:outset;
    position: relative;
    text-align: center;
    color:white;
    background-color: rgba(1, 39, 108, 0.8);/*01276c - albastru bun*/
    font-family:"Readex Pro";
    font-style:italic;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    transition: all 0.25s ease, text-shadow 0.2s ease;
}

#ButonInregistrare:hover{
    background-color: #074ba4;
    transform: scale(1.08);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    color: #ffcc00; 
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#Inapoi{
    margin-top: 7px;
    width: auto; 
    height: auto;
    min-height:50px;
    min-width: 220px;
    scale: 0.75;
    display: flexbox;
    font-size: 25px;
    border-radius: 25px; 
    border-color: #D9D9D9;
    border-width: 5px;
    border-style:outset;
    position: relative;
    text-align: center;
    color:white;
    background-color: rgba(1, 39, 108, 0.8);/*01276c - albastru bun*/
    font-family:"Readex Pro";
    font-style:italic;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    transition: all 0.25s ease, text-shadow 0.2s ease;
}

#Inapoi:hover{
    background-color: #074ba4;
    transform: scale(1.08);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    color: #ffcc00; 
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}