html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/static/fundal3.jpg");
}

#DivText{
    width: auto;
    height: auto;
    font-size: larger;
    max-width: 600px;
    max-height: 800px;
    padding: 30px;
    border-radius: 25px; 
    border-color: #D9D9D9;
    border-width: 5px;
    border-style:outset;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(1, 39, 108, 0.8);
    font-family:"Readex Pro";
    font-style:italic;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

/* a:link{
    color: white;
}
a:hover{
    color:aliceblue;
}
a:visited{
    color: gray;
}
a:active{
    color:aqua;
} */

a:link,
a:visited {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover,
a:active {
    color: #ffcc00; 
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#ListaFormulare{
    color:white;
    height: 100%;
    width: 100%;
    font-size: larger;
    font-family:"Readex Pro";
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 1px;
    font-variant: small-caps;
    text-align: left;
}

#ListaFormulare ul{
    list-style:upper-latin;
    margin-top: 50px;
}

#ListaFormulare li{
    margin-bottom: 15px;
}

#Deconectare{
    width: auto; 
    height: auto;
    display: flexbox;
    font-size: 15px;
    border-radius: 25px; 
    border-color: #D9D9D9;
    border-width: 5px;
    border-style:outset;
    position: relative;
    text-align: center;
    color:white;
    background-color: rgba(1, 39, 108, 0.8);
    font-family:"Readex Pro";
    font-style:italic;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    transition: all 0.25s ease, text-shadow 0.2s ease;
}

#Deconectare:hover{
    background-color: #074ba4;
    transform: scale(1.08);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    color: #ffcc00; 
    text-decoration: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
