<!DOCTYPE html>
<html>
<head>
    <title>{{ formular.titlu }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formular.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
</head>
<body>
    </div>
    <div id="DivContinut">
    <h2>{{ formular.titlu }}</h2>
    <form method="post" id="Formular">
       {% for camp in formular.campuri %}
        <label>{{ camp.eticheta }}</label><br>

    {% if camp.tip == 'textarea' %}
            <textarea name="{{ camp.nume }}" required></textarea><br>

        {% elif camp.tip == 'radio' %}
            {% for optiune in camp.optiuni %}
                <label>
                    <input type="radio" name="{{ camp.nume }}" value="{{ optiune }}" required>
                    {{ optiune }}
                </label><br>
            {% endfor %}
            <br>

        {% elif camp.tip == 'checkbox' %}
            {% for optiune in camp.optiuni %}
                <label>
                    <input type="checkbox" name="{{ camp.nume }}" value="{{ optiune }}">
                    {{ optiune }}
                </label><br>
            {% endfor %}
            <br>

        {% elif camp.tip == 'select' %}
            <select name="{{ camp.nume }}" required>
                <option value="" disabled selected>Alege o opțiune</option>
                {% for optiune in camp.optiuni %}
                    <option value="{{ optiune }}">{{ optiune }}</option>
                {% endfor %}
            </select><br>

        {% elif camp.tip == 'number' %}
            {% if camp.nume.lower() == 'varsta' %}
                <input type="number" name="{{ camp.nume }}" min="0" max="130" required><br>
            {% else %}
                <input type="number" name="{{ camp.nume }}" required><br>
        {% endif %}

        {% elif camp.tip == 'range' %}
            <input type="range" name="{{ camp.nume }}" min="0" max="100" step="1" required><br>

        {% elif camp.tip == 'date' %}
            <input type="date" name="{{ camp.nume }}" required><br>
        {% else %}
            {% set nume_camp = camp.nume.lower() %}
        <input type="{{ camp.tip }}" name="{{ camp.nume }}"
        value="{% if user_data and 'email' in nume_camp %}{{ user_data['email'] }}{% elif user_data and 'nume' in nume_camp %}{{ user_data['nume'] }}{% endif %}"required><br>
        {% endif %}

    {% endfor %}
        <br>
        <div id="DivButonTrimite">
        <button type="submit" id="ButonTrimite">Trimite</button>
    </div>
    </form>
        <br>
        <div id="ButonMeniu">
        <a href="{{ url_for('meniu') }}">
        <button type="button" id="InapoiMeniu">Înapoi la meniu</button>
        </a>
        </div>
    </div>
</body>
</html>
